@import "styles/syntax-variables";

atom-text-editor {
    background-color: @syntax-background-color;
    color: @syntax-text-color;

    .wrap-guide {
        background-color: @syntax-wrap-guide-color;
    }

    .indent-guide {
        color: @syntax-indent-guide-color;
        white-space: normal;
    }

    .invisible-character {
        color: @syntax-invisible-character-color;
    }

    .gutter {
        background-color: @syntax-gutter-background-color;
        color: @syntax-gutter-text-color;

        .line-number {
            opacity: 1;
        }

        .line-number.cursor-line {
            background-color: @syntax-gutter-background-color-selected;
            color: @syntax-gutter-text-color-selected;
        }

        .line-number.cursor-line-no-selection {
            color: @syntax-gutter-text-color-selected;
        }
    }

    .selection .region {
        background-color: @syntax-selection-color;
    }

    .search-results .syntax--marker.current-result .region {
        border: @syntax-result-marker-color-selected;
    }

    &.is-focused {
        .cursor {
            border-color: @syntax-cursor-color;
        }

        .selection .region {
            background-color: @syntax-selection-color;
        }

        .line-number.cursor-line-no-selection, .line.cursor-line {
            background-color: rgba(255, 255, 255, 0.05);
        }
    }

    .deco.folding {
        color: #5A6A65;
    }
}

.syntax--comment {
  font-style: italic;
  color: rgb(114, 110, 115);
}

.syntax--constant {
  color: #cf6a4c;
}

.syntax--entity {
  color: rgb(171,130,84);
}

.syntax--keyword {
  color: #cda869;
}

.syntax--storage {
  color: rgb(250,239,172);
}

.syntax--string {
  color: rgb(160,171,127);
}

.syntax--support {
  color: rgb(171,153,172);
}

.syntax--variable {
  color: rgb(136,154,180);
}

.syntax--invalid.syntax--deprecated {
  font-style: italic;
  text-decoration: underline;
  color: #d2a8a1;
}

.syntax--invalid.syntax--illegal {
  color: #f8f8f8;
  background-color: rgba(86, 45, 86, 0.75);
}

.syntax--meta.syntax--embedded.syntax--block, .syntax--punctuation.syntax--whitespace.syntax--embedded {
  background-color: rgba(176, 179, 186, 0.08);
}

.syntax--meta.syntax--embedded.syntax--line {
  background-color: rgba(177, 179, 186, 0.13);
}

.syntax--entity.syntax--other.syntax--inherited-class {
  font-style: italic;
  color: rgb(171,111,65);
}

.syntax--string .syntax--meta.syntax--embedded {
  color: #daefa3;
}

.syntax--string .syntax--constant {
  color: #ddf2a4;
}

.syntax--string.syntax--regexp {
  color: #e9c062;
}

.syntax--string.syntax--regexp .syntax--constant.syntax--character.syntax--escape, .syntax--string.syntax--regexp .syntax--source.syntax--ruby.syntax--embedded, .syntax--string.syntax--regexp .syntax--string.syntax--regexp.syntax--arbitrary-repitition {
  color: #cf7d34;
}

.syntax--string .syntax--variable {
  color: #8a9a95;
}

.syntax--support.syntax--function {
  color: rgb(225,214,154);
}

.syntax--support.syntax--constant {
  color: #cf6a4c;
}

.syntax--meta.syntax--preprocessor.syntax--c {
  color: #8996a8;
}

.syntax--meta.syntax--preprocessor.syntax--c .syntax--keyword {
  color: #afc4db;
}

.syntax--meta.syntax--tag.syntax--sgml.syntax--doctype, .syntax--meta.syntax--tag.syntax--sgml.syntax--doctype .syntax--entity, .syntax--meta.syntax--tag.syntax--sgml.syntax--doctype .syntax--keyword, .syntax--meta.syntax--tag.syntax--sgml.syntax--doctype .syntax--variable, .syntax--meta.syntax--tag.syntax--sgml.syntax--doctype .syntax--string, .syntax--meta.syntax--tag.syntax--preprocessor.syntax--xml, .syntax--meta.syntax--tag.syntax--preprocessor.syntax--xml .syntax--entity, .syntax--meta.syntax--tag.syntax--preprocessor.syntax--xml .syntax--string {
  color: #494949;
}

.syntax--declaration.syntax--tag, .syntax--declaration.syntax--tag .syntax--entity, .syntax--meta.syntax--tag, .syntax--meta.syntax--tag .syntax--entity {
  color: #ac885b;
}

.syntax--declaration.syntax--tag.syntax--inline, .syntax--declaration.syntax--tag.syntax--inline .syntax--entity, .syntax--meta.syntax--tag.syntax--inline, .syntax--meta.syntax--tag.syntax--inline .syntax--entity {
  color: #e0c589;
}

.syntax--meta.syntax--selector.syntax--css .syntax--entity.syntax--name.syntax--tag {
  color: rgb(214,181,128);
}

.syntax--meta.syntax--selector.syntax--css .syntax--entity.syntax--other.syntax--attribute-name.syntax--tag.syntax--pseudo-class {
  color: #8f9d6a;
}

.syntax--meta.syntax--selector.syntax--css .syntax--entity.syntax--other.syntax--attribute-name.syntax--id {
  color: #8b98ab;
}

.syntax--meta.syntax--selector.syntax--css .syntax--entity.syntax--other.syntax--attribute-name.syntax--class {
  color: #9b703f;
}

.syntax--support.syntax--type.syntax--property-name.syntax--css {
  color: #c5af75;
}

.syntax--meta.syntax--property-group .syntax--support.syntax--constant.syntax--property-value.syntax--css, .syntax--meta.syntax--property-value .syntax--support.syntax--constant.syntax--property-value.syntax--css {
  color: #f9ee98;
}

.syntax--meta.syntax--preprocessor.syntax--at-rule .syntax--keyword.syntax--control.syntax--at-rule {
  color: #8693a5;
}

.syntax--meta.syntax--property-value .syntax--support.syntax--constant.syntax--named-color.syntax--css, .syntax--meta.syntax--property-value .syntax--constant {
  color: #ca7840;
}

.syntax--meta.syntax--constructor.syntax--argument.syntax--css {
  color: #8f9d6a;
}

.syntax--meta.syntax--diff, .syntax--meta.syntax--diff.syntax--header, .syntax--meta.syntax--separator, .syntax--meta.syntax--diff.syntax--range, .syntax--meta.syntax--diff.syntax--index {
  font-style: italic;
  color: #f8f8f8;
  background-color: #0e2231;
}

.syntax--markup.syntax--deleted {
  color: #f8f8f8;
  background-color: #420e09;
}

.syntax--markup.syntax--changed {
  color: #f8f8f8;
  background-color: #4a410d;
}

.syntax--markup.syntax--inserted {
  color: #f8f8f8;
  background-color: #253b22;
}

.syntax--markup.syntax--list {
  color: #f9ee98;
}

.syntax--markup.syntax--heading {
  color: #cf6a4c;
}

.syntax--markup.syntax--raw.syntax--block {
  background-color: rgba(176, 179, 186, 0.08);
}